@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить тур</h2>

<form method="post" action="/Tour/Add">
    <table>
        <tr>
            <td><p>Страна: </p></td>
            <td><input type="text" name="country" /></td>
        </tr>
        <tr>
            <td><p>Вид отдыха: </p></td>
            <td><input type="text" name="type" /></td>
        </tr>
        <tr>
            <td><p>Цена: </p></td>
            <td><input type="text" name="price" /></td>
        </tr>
        <tr>
            <td><p>Описание: </p></td>
            <td><input type="text" name="description" /></td>
        </tr>
        <tr>
            <td><p>Скидка: </p></td>
            <td><input type="text" name="sale" /></td>
        </tr>
        <tr>
            <td><p>Год: </p></td>
            <td><input type="text" name="year" /></td>
        </tr>
        <tr>
            <td><p>Месяц: </p></td>
            <td><input type="text" name="month" /></td>
        </tr>
        <tr>
            <td><p>День: </p></td>
            <td><input type="text" name="day" /></td>
        </tr>
        <tr>
            <td><p>Час: </p></td>
            <td><input type="text" name="hour" /></td>
        </tr>
        <tr>
            <td><p>Минута: </p></td>
            <td><input type="text" name="minute" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Добавить" /></td>
        </tr>
    </table>
</form>
